@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  color: $black;
  font-size: 21px;
  font-family: "Questrial", sans-serif;
  line-height: 1.44;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $breakpoint-md) {
    font-size: 18px;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 17px;
  }
}

body {
  margin: 0;
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: serif;
}

input, textarea {
  letter-spacing: 1.2px;
  line-height: 1.44;
}