@import '../styles/variables.scss';

.home {
    padding: 50px 30px 100px 30px;
    
    .description-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        .item {
            border-top: 4px solid $white-linen;
        }
    }

    .partners-block {
        padding-top: 80px;
        display: flex;
        position: relative;

        .item {
            flex: 0 1 25%;
            width: 25%;
            padding-right: 10px;
            height: 260px;

            &:nth-last-child() {
                padding-right: 0;
            }

            .box {
                background: $aqua-haze;
                padding: 40px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 260px;
                    max-height: 80px;
                    width: 100%;
                    height: auto;
                    opacity: 0.5;
                }
            }
        }
    }

    .feedback-form {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        max-width: 900px;
        width: 100%;

        input, textarea {
            border: 0;
            background: $white-linen;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $black;
                opacity: 1; /* Firefox */
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $black;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $black;
            }
        }

        input {
            height: 80px;
            padding-left: 20px;
            margin-bottom: 10px;
        }

        textarea {
            resize: none;
            padding: 25px 20px;
            position: relative;
        }

        button {
            margin-left: 80px;
            height: 100px;
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            border: 0;
            background: $white-linen;
            cursor: pointer;
            transition: 0.1s ease-in-out;

            svg {
                width: 30px;
                height: 30px;
                margin-left: 30px;
            }

            &:hover{
                background: $black;
                color: white;

                svg * {
                    fill: white;
                }
            }
        }

        .triangle {
            margin: 0 0 30px 130px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 50px 0 0;
            border-color: $white-linen transparent transparent transparent;
        }

        &.loading {
            input, textarea {
                opacity: 0.8;
                pointer-events: none;
            }

            button {
                pointer-events: none;
                background: $black;
                color: white;
            }
        }

        &.success {
            button {
                pointer-events: none;
                background: $black;
                color: white;
            }
        }

        &.failed {
            button {
                pointer-events: none;
                background: $red;
                color: white;
            }
        }
    }

    @media (max-width: $breakpoint-xl) {
    }

    @media (max-width: $breakpoint-md) {
        .partners-block {
            padding-top: 60px;
            flex-wrap: wrap;
            
            .item {
                flex: 0 1 50%;
                width: 50%;
                padding-bottom: 10px;

                &:nth-child(even) {
                    padding-right: 0;
                }

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
                    flex-basis: 100%;
                    width: 100%;
                    padding-right: 0;
                }

            }
        }

        .feedback-form {
            padding-top: 60px;
        }
    }

    @media (max-width: $breakpoint-sm) {
        padding: 50px 20px 60px 20px;

        .description-block {
            grid-template-columns: 1fr;
        }

        .partners-block {
            padding-top: 40px;

            .item {
                height: 160px;

                .box {
                    img {
                        max-width: 160px;
                        max-height: 64px;
                    }
                }
            }
        }

        .feedback-form {
            padding-top: 40px;

            input {
                height: 64px;
            }

            textarea {
                padding: 20px;
            }

            button {
                margin-left: 0;
                width: 100%;
                height: 72px;
                
                svg {
                    width: 24px;
                    height: 24px;
                    margin-left: 20px;
                }
            }

            .triangle {
                border-width: 40px 40px 0 0;
                margin: 0 auto 20px auto;
            }
        }
    }

    @media (max-width: $breakpoint-xs) {
        .partners-block {
            
            .item {
                flex-basis: 100%;
                width: 100%;
                padding-right: 0;
            }
        }
    }
}