@import '../../styles/variables.scss';

.header {
    padding: 60px 30px 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logotype {
        display: flex;
        flex-direction: column;
        pointer-events: none;

        .logotype-text {
            font-family: 'Lyyra', sans-serif;
            font-size: 103px;
            margin: 0;
        }
    }

    .links {
        display: flex;

        .item {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: $white-linen;
            cursor: pointer;

            &:not(:first-child) {
                margin-left: 30px;
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            &:hover{
                background: $black;

                a {
                    svg * {
                        fill: white;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-xl) {
        .logotype {
            .logotype-text {
                font-size: 71px;
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        .logotype {
            .logotype-text {
                font-size: 47px;
            }
        }
    }

    @media (max-width: $breakpoint-sm) {
        padding: 20px;

        .links {
            .item {
                width: 48px;
                height: 48px;

                a {
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-xs) {
        flex-direction: column-reverse;

        .links {
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 50px;
        }
    }
}