@import '../../styles/variables.scss';

.footer {
    padding: 40px 30px;
    background: $aqua-haze;

    .links {
        width: 100%;
        display: flex;

        .item {
            flex: 0 0 33.33%;
            padding-right: 20px;

            &:nth-child(3) {
                padding: 0;
            }

            a {
                height: 80px;
                border-radius: 40px;
                background: white;
                display: flex;
                align-items: center;
                padding: 20px 30px;

                svg {
                    width: 30px;
                    height: 30px;
                    margin-right: 27px;
                    flex-shrink: 0;
                }
            }

            &:hover{
                a {
                    background: $black;

                    svg * {
                        fill: white;
                    }

                    span {
                        color: white;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-xs) {
    }

    @media (max-width: $breakpoint-sm) {
        padding: 20px;

        .links {
            .item {
                border-radius: 32px;

                a {
                    height: 64px;
                    padding: 15px 20px;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        .links {
            flex-direction: column;

            .item {
                flex-basis: auto;
                padding: 0 0 20px 0;
            }
        }
    }

    @media (max-width: $breakpoint-xl) {
    }
}